#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url("https://media.istockphoto.com/id/1146515572/vector/sunset-or-sunrise-over-the-sea-or-ocean.jpg?s=612x612&w=0&k=20&c=6HlfNwQCCj3-d2qMkIdFgNXv2sgCFJop42oeClD-FBQ=");
  background-repeat: no-repeat;
  background-size: 100% 210%;
}

.appGlobalCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
